<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>project_Bsong</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
  	<servlet-name>AdminIndexCatController</servlet-name>
  	<servlet-class>Controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexCatController</servlet-name>
  	<url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminAddCatController</servlet-name>
  	<servlet-class>Controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminAddCatController</servlet-name>
  	<url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminEditCatController</servlet-name>
  	<servlet-class>Controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminEditCatController</servlet-name>
  	<url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminDelCatController</servlet-name>
  	<servlet-class>Controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDelCatController</servlet-name>
  	<url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminIndexContactController</servlet-name>
  	<servlet-class>Controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexContactController</servlet-name>
  	<url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminDelContactController</servlet-name>
  	<servlet-class>Controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDelContactController</servlet-name>
  	<url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminIndexUserController</servlet-name>
  	<servlet-class>Controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminIndexUserController</servlet-name>
  	<url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
</web-app>